:host {
    display: block;
    border: 2px solid teal;
    padding: 5px;
    margin: 10px;
}
li {
    padding: 5px;
    background-color: #aaa;
    list-style-type: none;
    display: block;
}