
<h2>List</h2>

<ul class="heroes">
    <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <span class="badge">{{hero.id}} </span>{{hero.name}}
    </li>
</ul>
<input #phone placeholder="phone number placeholder" />

<!-- phone refers to the input element: pass its value to the event handler-->
<button (click)="callPhone(phone.value)">Call</button>
<p>enter something and click the button to display the value below.</p>

<p>Value of phone number box returned from class via template reference variable: {{ getPhoneNumber()}}</p>